/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.new-task__title--visually-hidden {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.hero-header__block {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.hero-header__img {
  width: 100%;
}

.hero-header__more-info-link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .hero-header__block {
    text-align: center;
  }

}

.wrapper {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.section__task-field,
.all-tasks__label {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.new-task__row-wrapper {
  display: flex;
}

#incomplete-tasks__block,
#completed-tasks__block {
  margin: 0;
  padding: 0px;
}

.incomplete-tasks__item,
.completed-tasks__item,
.section__subtitle {
  list-style: none;
}

.all-tasks__checkbox,
.section__task-field,
.new-task__add-btn,
.all-tasks__edit-btn,
.all-tasks__delete-btn {
  outline: none;
}

.new-task__add-btn,
.all-tasks__edit-btn,
.all-tasks__delete-btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.new-task__add-btn:hover,
.all-tasks__edit-btn:hover,
.all-tasks__delete-btn:hover {
  color: #3a3a3a;
}

/* Heading */
.section__subtitle {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.section__task-field {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.section__task-field:focus {
  color: #333;
}

/* New Task */
#new-task__label {
  display: block;
  margin: 0 0 20px;
}

#new-task__field {
  width: 318px;
}

.new-task__add-btn:hover {
  color: #0fc57c;
}

/* Task list */
.incomplete-tasks__item,
.completed-tasks__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.incomplete-tasks__item > *,
.completed-tasks__item > * {
  vertical-align: middle;
}

.all-tasks__checkbox {
  margin: 0 10px;
}

.section__task-field,
.all-tasks__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.incomplete-tasks__item > .section__task-field,
.completed-tasks__item > .section__task-field {
  width: 226px;
}

.all-tasks__delete-btn:hover {
  color: #cf2323;
}

.all-tasks__delete-btn-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.all-tasks__delete-btn-img:hover {
  transform: rotateZ(0);
}

/* Completed */
#completed-tasks__block .all-tasks__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.incomplete-tasks__item .section__task-field,
.completed-tasks__item .section__task-field {
  display: none;
}
 
.edit-mode .section__task-field {
  display: inline-block;
  width: 224px;
}

.edit-mode .all-tasks__label {
  display: none;
}