/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.hero-block {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.hero-block-img {
  width: 100%;
}

.hero-block .more-info-link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .hero-block {
    text-align: center;
  }

}

.wrapper {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task-field,
.task-label {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.task-row-wrapper {
  display: flex;
}

#incomplete-tasks-block,
#completed-tasks-block {
  margin: 0;
  padding: 0px;
}

.incomplete-tasks-item,
.completed-tasks-item,
.block-title {
  list-style: none;
}

.checkbox,
.task-field,
.add-btn,
.edit-btn,
.delete-btn {
  outline: none;
}

.add-btn,
.edit-btn,
.delete-btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.add-btn:hover,
.edit-btn:hover,
.delete-btn:hover {
  color: #3a3a3a;
}

/* Heading */
.block-title,
#new-task-label {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.task-field {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.task-field:focus {
  color: #333;
}

/* New Task */
#new-task-label {
  display: block;
  margin: 0 0 20px;
}

#new-task-field {
  width: 318px;
}

.add-btn:hover {
  color: #0fc57c;
}

/* Task list */
.incomplete-tasks-item,
.completed-tasks-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.incomplete-tasks-item > *,
.completed-tasks-item > * {
  vertical-align: middle;
}

.checkbox {
  margin: 0 10px;
}

.task-field,
.task-label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.incomplete-tasks-item > .task-field,
.completed-tasks-item > .task-field {
  width: 226px;
}

.delete-btn:hover {
  color: #cf2323;
}

.delete-btn-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.delete-btn-img:hover {
  transform: rotateZ(0);
}

/* Completed */
#completed-tasks-block .task-label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.incomplete-tasks-item .task-field,
.completed-tasks-item .task-field {
  display: none;
}
 
.edit-mode .task-field {
  display: inline-block;
  width: 224px;
}

.edit-mode .task-label {
  display: none;
}